

header {
    width: 100%;
    font-size: 2rem;
    background-color: #9873c9;
    padding: 1rem;
    color: white;
    text-align: center;
  }

 

td {
    width: 100px;
    height: 100px;
  }

.middle_block {
    border-left: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
}

.hz {
    border-top: 2px solid blueviolet;
    border-bottom: 2px solid blueviolet;
}

.center {
    border: 2px solid blueviolet;
}


.players {
    font-size: 1rem;
  font-weight: bold;
  padding: .7rem;
  margin-top: 2rem;
  border: 2px solid grey;
  color: grey;
  border-radius: .2rem;
  outline: none;
  cursor: pointer;
}